.fade-enter,  .fade-leave-to{
    opacity: 0;
}
.fade-enter-active, .fade-leave-active {
    transition: all 5s ease-in;
}

.label {
    width: 55px;
    display: flex;
    justify-content: center;
    margin: auto;
}